@model IEnumerable<BugTracks.Models.Project>
@using BugTracks.Services.Interfaces
@using BugTracks.Models.Enums
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> UserManager
@inject IBTProjectService ProjectService

@{
    ViewData["Title"] = "Unassigned Projects";
    BTUser btUser = await UserManager.GetUserAsync(User);
}


<div class="container ms-2 me-2 mt-2">

    <h1 class="m-2 mb-5">Unassigned Projects</h1>

    @if (Model.Count() > 0)
    {

        @foreach (var item in Model)
        {
            <div class="max-height: 50px">
                <div class="row bg-light p-3 mt-3 rounded-2">
                    <div class="row bg-secondary bg-opacity-50 rounded-2 m-2 p-2">
                        <h4>@item.Name</h4>
                    </div>
                    <div class="row">
                        @* Picture *@
                        <div class="col-2 img-fluid col-md-2bg-dark d-flex align-items-center">
                            @if (item.ImageFileData != null)
                            {
                                <img class="img-fluid" @* style="width:200px;height:200px" *@ src="data:image/*;base64,@(Convert.ToBase64String(item.ImageFileData))" />
                            }
                        </div>
                        @* Description *@
                        <div class="col-2 col-md-4 bg-light">
                            <h5 class="text-bold">Description</h5>
                            @Html.DisplayFor(modelItem => item.Description)
                        </div>
                        @* Dates *@
                        <div class="col-2 bg-light d-flex flex-column">
                            <div class="row rounded-2 bg-dark bg-opacity-10 m-2">
                                <h5 class="text-bold">Start Date</h5>
                                <h6>@item.StartDate.ToString("MM/dd/yyyy")</h6>
                            </div>
                            <div class="row rounded-2 bg-dark bg-opacity-10 m-2">
                                <h5 class="text-bold">End Date</h5>
                                <h6>@item.EndDate.ToString("MM/dd/yyyy")</h6>
                            </div>
                        </div>
                        <div class="col-2 d-flex flex-column">
                            <div class="row m-3">
                                <h5 class="text-bold">@item.Company.Name</h5>
                            </div>
                            <div class="row m-3">
                                <h5>Status</h5>
                                @if (item.Archived)
                                {
                                    <div>
                                        <h5 class="bg-danger rounded-2 text-center">Archived</h5>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <h5 class="bg-success rounded-2 text-center">Active</h5>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col-2 d-flex flex-column">

                            <div class="row p-2 bg-secondary bg-opacity-10 rounded-2">
                                <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>

                            @{
                                bool isProjectPM = (await ProjectService.GetProjectManagerAsync(item.Id))?.Id == btUser.Id;
                            }

                            <div class="row p-2">
                                @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                {
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                }
                            </div>

                            <div class="row p-2 bg-secondary bg-opacity-10 rounded-2">
                                @if (User.IsInRole(nameof(Roles.Admin)) || isProjectPM)
                                {
                                    <a class="btn btn-sm btn-outline-secondary" asp-action="AssignPM" asp-route-projectId="@item.Id">Add PM</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        }
    }
    else
    {
        <div class="row bg-secondary bg-opacity-50 rounded-2 m-2 pt-1">
            <div class="d-flex justify-content-between">
                <h4>There are currently no Unassigned Tickets</h4>
            </div>
        </div>
    }
